extends layout

block content
  h2=titreUD
  form(method='POST', action='/users/?_method=DELETE')
    input(type='number', name='sess')
    p
    input(type='submit', value='Supprimer')
  br
  a(href='/') home
  br
  a(href='/users/update') update
  br
  a(href='/users/delete') delete
  br
  a(href='/session-in') session-in
  br
  a(href='/session-out') session-out