extends layout

block content
  form(method='POST', action='/delete/' + supp + '?_method=DELETE')
    p coucou #{supp}
    input(type='number', name='supp')
    p
    input(type='submit', value='Supprimer')
  br
  a(href='/') home
  br
  a(href='/update') update
  br
  a(href='/delete') delete
  br
  a(href='/session-in') session-in
  br
  a(href='/session-out') session-out