extends layout

block content
  h1=titreUD
  br
  br
  a(href='/') home
  br
  a(href='/update') update
  br
  a(href='/delete') delete
  br
  a(href='/session-in') session-in
  br
  a(href='/session-out') session-out